<tr>
  <td style="width:5em;"><%= f.text_field :firstname, :style=>"width:90%" %></td>
  <td style="width:5em;"><%= f.text_field :lastname,  :style=>"width:90%" %></td>
  <td style="width:5em;"><%= f.text_field :cellphone, :style=>"width:90%" %></td>
  <td style="width:5em;"><%= f.text_field :daysoff,   :style=>"width:90%" %></td>
  <td style="width:3em;"><%= f.text_field :rappelweight,  :style=>"width:90%; text-align:center;" %></td>
  <td style="width:3em;"><%= f.text_field :helitackweight,:style=>"width:90%; text-align:center;" %></td>
  <td style="width:3em;"><%= f.text_field :spotterweight, :style=>"width:90%; text-align:center;" %></td>
</tr>
